@forward "reset";

body {
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  min-width: 320px;

  &.ohidden {
    overflow-y: scroll;
    position: fixed !important;
    width: 100%;
  }
}


.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 28px 50px;
  line-height: 1;
  background: white;
  color: black;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: {
    property: background-color, color;
    duration: 0.2s;
  };
  text-align: center;
  clip-path: polygon(
      20px 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%,
      0 20px
  );

  &:hover {
    background-color: #377F7E;
    color: #FFFFFF;
  }
}

.slider-wrapper {
  overflow: hidden;
}


.header {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 1100;
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 15px;
  transition: {
    duration: .3s;
    property: background-color, padding, box-shadow;
  };

  &.scroll {
    padding-top: 14px;
    background-color: #377F7E;
    -webkit-box-shadow: 0 0 12px 5px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0 0 12px 5px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 12px 5px rgba(255, 255, 255, 0.2);
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.header-menu {
  max-width: 690px;
  flex: 1;

  .btn {
    display: none;
    background: linear-gradient(127.14deg,
      #8BEFD3 16.74%,
      #377F7E 84.64%,
      #377F7E 116.74%,
      #8BEFD3 184.64%
    );
    color: #000000;
    width: 100%;
    background-size: 200% 200%;
    transition: {
      duration: .2s;
      property: background-position, color;
    };

    &:hover {
      background-position: 100% 100%;
      color: #FFFFFF;
    }
  }
}

.header-menu-list {
  display: flex;
  justify-content: space-between;

  a {
    display: block;
    padding: 4px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.header-socials {
  font-weight: 600;
  display: flex;
  column-gap: 7px;
  align-items: center;

  span {
    margin-left: 3px;
    line-height: 1;
  }

  a {
    display: block;
    color: inherit;
    transition: .2s;

    &:hover {
      color: #dddddd;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    font-size: 16px;
  }
  .header-menu {
    max-width: 560px;
  }
}

.header-burger {
  width: 32px;
  height: 32px;
  border: 0;
  align-items: center;
  justify-content: center;
  display: none;

  span {
    position: relative;
    width: 16px;
    height: 2px;
    background-color: #FFFFFF;
    transition: .3s background-color;

    &:before,
    &:after {
      transition: .3s transform;
      content: '';
      width: 16px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 0;
      transform-origin: 0 50%;
    }

    &:before {
      bottom: 8px;
    }

    &:after {
      top: 8px;
    }
  }

  &.active span {
    background-color: transparent;

    &:before {
      transform: rotate(45deg) translateX(3px);
    }

    &:after {
      transform: rotate(-45deg) translateX(4px);
    }
  }

}

@media (max-width: 991px) {
  .header {
    padding-top: 8px;
    padding-bottom: 8px;

    &.scroll {
      padding-top: 8px;
    }
  }
  .header-burger {
    display: flex;
  }
  .header-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    max-width: unset;
    visibility: hidden;
    transition: .4s visibility;

    .btn {
      display: block;
      margin-top: 35px;
    }

  }
  .header-menu-inner {
    overflow: auto;
    max-height: 0;

    background: {
      color: #000000;
      image: url("/assets/img/menu-background.png");
      position: right top;
      repeat: no-repeat;
    }
    padding: 0 30px;
    transition: .4s max-height ease-out;

    &:before {
      content: '';
      display: block;
      height: 97px;
    }

    &:after {
      content: '';
      display: block;
      height: 30px;
    }
  }

  .header-menu-list {
    flex-direction: column;
    row-gap: 17px;
  }
  .header-menu-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: .4s opacity;
  }

  .header-menu.active {
    visibility: visible;

    .header-menu-background {
      opacity: 1;
    }

    .header-menu-inner {
      max-height: 100vh;
    }
  }
}

@media (max-width: 575px) {
  .header-socials {
    display: none;
  }
}


.first-section {
  padding-top: 115px;
  padding-bottom: 75px;
  height: 825px;
  display: flex;
  align-items: center;
  overflow: hidden;

  &__text {
    flex: 1;
  }

  .container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.top-background {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  top: 0;
  height: 1000px;
  overflow: hidden;

  .container {
    position: relative;
  }
}

.top-background-image {
  position: absolute;
  width: 2335px;
  right: -700px;
  top: -555px;
  max-width: unset;
  z-index: -1;
  filter: blur(1000px);
  overflow-x: hidden;
}


@media (max-width: 991px) {
  .top-background-image {
    top: -738px;
    right: -1443px;
  }
}

.first-heading {
  font-weight: 900;
  font-size: 47px;
  line-height: 110%;
  letter-spacing: -1%;
  text-transform: uppercase;
  max-width: 370px;
  margin-bottom: 60px;

  span {
    background: linear-gradient(127.14deg, #8BEFD3 16.74%, #377F7E 84.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.first-image {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;

  &__main {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__big {
    position: absolute;
    top: clamp(0px, 6.67vw, 80px);
    left: 0;
    transform: translateX(-50%);
    width: 13.67vw;
    max-width: 164px; /* не больше исходного размера */
  }

  &__small {
    position: absolute;
    width: 9.16vw;
    max-width: 110px;
    transform: translateX(50%);
    bottom: 105px;
    bottom: clamp(0px, 8.75vw, 105px);
  }
}

@media (max-width: 991px) {
  .first-section .container {
    flex-direction: column-reverse;
  }
  .first-section__text {
    width: 100%;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
  }
  .first-heading {
    max-width: unset;
    margin-bottom: 25px;
    font-size: 30px;
  }
  .first-image {
    width: 100%;
    max-width: 287px;

    &__big {
      width: 77px;
      top: 41px;
    }

    &__small {
      bottom: 54px;
      width: 53px;
    }
  }
  .first-section {
    height: auto;
    padding-top: 68px;
    padding-bottom: 80px;
  }
}


.services-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.heading {
  &__buttons {
    display: flex;
    column-gap: 30px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    transition: {
      duration: .2s;
      property: opacity, color;
    };

    &:not(.swiper-button-disabled):hover {
      color: #377F7E;
    }

    &.swiper-button-disabled {
      opacity: .7;
      cursor: default;
    }
  }
}

@media (max-width: 767px) {
  .heading {
    &__buttons {
      column-gap: 5px;
    }

    &__button {
      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.section-heading {
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -1%;
  text-transform: uppercase;
  line-height: 100%;
}

@media (max-width: 767px) {
  .section-heading {
    font-size: 30px;
    line-height: 100%;
  }
}

.services-section {
  overflow: hidden;
  padding-bottom: 60px;

  .btn {
    display: block;
    width: 100%;
  }
}

.services-list {
  margin-bottom: 30px;

  &.swiper {
    overflow: visible;

    &:not(.swiper-initialized) {
      .swiper-wrapper {
        column-gap: 25px;
        display: flex;
      }
    }
  }
}

.services-list-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;

  &__space {
    flex: 1;
    position: relative;
    z-index: 2;

    &:before {
      content: '';
      height: 1656px;
      width: clamp(700px, 200%, 200%);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #000000;
      filter: blur(200px);
    }

    &--left:before {
      right: 60px;
    }

    &--right:before {
      left: 60px;
    }
  }
}

.service-card {
  &__img {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    clip-path: polygon(
        70px 0,
        100% 0,
        100% calc(100% - 40px),
        calc(100% - 70px) 100%,
        0 100%,
        0 40px
    );

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 25px;
    line-height: 110%;
    letter-spacing: -1%;
    margin-top: 30px;
  }

  &__title {
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -1%;
    margin-top: 20px;
  }

  &__description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -1%;
    color: #404040;
    transition: .2s color;
  }

  &:hover &__description {
    color: #aaa;
  }
}

@media (max-width: 575px) {
  .services-section {
    padding-bottom: 40px;
  }
  .service-card {
    max-width: 175px;

    &__description {
      font-size: 16px;
    }

    &__img {
      clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
    }
  }
  .services-list-wrapper__space {
    display: none;
  }
  .services-list {
    .swiper-slide {
      width: auto;
    }
  }
}

.result-section {
  padding-top: 60px;
  padding-bottom: 60px;

  &.moved {
    .result-heading .section-heading {
      margin-bottom: 0;
    }

    .result-heading__text {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }

    .result-card__image--second:after {
      opacity: 0;
    }
  }

}

.result-heading {
  display: flex;
  column-gap: 20px;
  position: relative;
  z-index: 4;
  margin-bottom: 40px;

  &__text {
    max-width: 270px;
    position: relative;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1%;
    transition: {
      property: opacity, visibility, height;
      duration: .2s;
    };

    svg {
      position: absolute;
      top: -9px;
      left: calc(100% - 35px);
    }
  }
}

.result-card {
  position: relative;
  height: 500px;
  //transition: .3s transform;
  will-change: transform;
  clip-path: polygon(
      80px 0,
      100% 0,
      100% calc(100% - 45px),
      calc(100% - 80px) 100%,
      0 100%,
      0 45px
  );

  &__image {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      //pointer-events: none;
    }

    &--second {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      overflow: hidden;

      img {
        max-width: unset;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:after {
        content: '';
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity .2s;
      }
    }
  }

  &__trigger {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 2px;
      background-color: #000000;
      left: 50%;
      transform: translateX(-1px);
    }
  }

  &__trigger-btn {
    transition: .2s color;
    min-width: 78px;

    &:hover {
      color: #377F7E;
    }
  }

  &.dragging &__trigger-btn {
    color: #377F7E;
  }
}

.results {
  &.swiper {
    overflow: visible;
  }
}

@media (max-width: 575px) {
  .result-section {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .result-card {
    height: 189px;
    clip-path: polygon(
        35px 0,
        100% 0,
        100% calc(100% - 35px),
        calc(100% - 35px) 100%,
        0 100%,
        0 35px
    );

    &__trigger-btn {
      min-width: 54px;
      width: 54px;
    }
  }
  .result-heading {
    flex-direction: column;
    margin-bottom: 25px;

    .section-heading {
      transition: .3s margin-bottom;
      margin-bottom: 20px;
    }

    &__text {
      svg {
        top: -50px;
        right: -70px;
        left: auto;
      }
    }
  }
}

.advantages-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-col {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 70px;

  &:before,
  &:after {
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:after {
    left: auto;
    right: 0;
  }

  &:nth-child(2) {
    &:before {
      display: none;
    }
  }
}

.advantages-card {
  padding: 0 54px;

  &__count {
    display: inline-block;
    font-weight: 400;
    font-size: 150px;
    line-height: 1;
    letter-spacing: -1%;
    text-transform: uppercase;
    white-space: nowrap;

    background: linear-gradient(127.14deg, #8BEFD3 16.74%, #377F7E 84.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__description {
    margin-top: 30px;
  }
}

@media (max-width: 1240px) {
  .advantages-list {
    flex-direction: column;
    row-gap: 35px;
  }
  .advantages-col {
    width: 100%;
    row-gap: 35px;

    &:before,
    &:after {
      display: none;
    }
  }
  .advantages-card {
    position: relative;
    padding-bottom: 35px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
}

@media (max-width: 767px) {
  .advantages-card {
    padding-left: 20px;
    padding-right: 20px;

    &__count {
      font-size: 94px;
    }

    &__description {
      margin-top: 15px;

      br {
        display: none;
      }
    }
  }
}

@media (max-width: 575px) {
  .advantages-col {
    row-gap: 30px;
  }
  .advantages-list {
    row-gap: 30px;
  }
  .advantages-card {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;

    &__count {
      font-size: 80px;
    }

    &__description {
      margin-top: 15px;
    }
  }
}


.map {
  padding-top: 80px;
  padding-bottom: 140px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.map-layout {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.map-dots-mobile {
  display: none;

  .map-dot {
    width: auto;

    &:before {
      margin: 0;
    }

    &:after {
      display: none;
    }
  }
}

.map-dot {
  display: flex;
  width: 342px;
  flex-wrap: wrap;
  position: absolute;
  color: #fff;

  &:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    align-items: center;
    margin-right: 11px;
    background: {
      image: url("/assets/img/map-dot.svg");
      repeat: no-repeat;
      position: center center;
    };
  }

  &:after {
    content: '';
    display: block;
    height: 1px;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    margin-top: 11px;
  }

  &--right {
    justify-content: flex-end;

    &:after {
      background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
}

.map-list {
  display: none;
  width: 100%;
  margin-top: 10px;

  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  }

  a {
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    position: relative;
    padding: 16px 0;
    transition: .2s color;

    &:hover {
      color: #377F7E;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 1px;
      width: 100%;
      background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:before {
      content: '';
      position: absolute;
      right: 0;
      width: 20px;
      height: 20px;
      background: {
        repeat: no-repeat;
        image: url("/assets/img/link.svg");
        position: center center;
      };
    }
  }
}

.map-blur {
  overflow: hidden;
}

.map-blur-inner {
  position: relative;
}

.map-blur-img {
  position: absolute;
  top: -300px;
  left: -10px;
  filter: blur(10px);
  max-width: unset;
}

@media (max-width: 767px) {
  .map-layout {
    width: auto;
  }
  .map-dots {
    display: none;
  }
  .map-dots-mobile {
    display: block;
  }
  .map-list {
    display: block;
  }
  .map {
    padding-top: 35px;
    padding-bottom: 0;
    margin-bottom: 40px;
  }
  .map-blur {
    display: none;
  }
}

#gallery {
  padding-top: 60px;
  padding-bottom: 60px;
}

.gallery {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 280px);
  margin-top: 40px;

  a {
    display: block;

    &:nth-child(1) {
      grid-area: 1 / 1 / 3 / 3;
    }

    &:nth-child(2) {
      grid-area: 1 / 3 / 2 / 4;
    }

    &:nth-child(3) {
      grid-area: 1 / 4 / 2 / 5;
    }

    &:nth-child(4) {
      grid-area: 2 / 3 / 3 / 4;
    }

    &:nth-child(5) {
      grid-area: 2 / 4 / 3 / 5;
    }

    &:nth-child(6) {
      grid-area: 3 / 1 / 5 / 5;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      img {
        clip-path: polygon(
            70px 0,
            100% 0,
            100% calc(100% - 41px),
            calc(100% - 70px) 100%,
            0 100%,
            0 41px
        );
      }
    }

  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(
        110px 0,
        100% 0,
        100% calc(100% - 63px),
        calc(100% - 110px) 100%,
        0 100%,
        0 63px
    );
  }
}


@media (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 168px);
    gap: 15px;

    a {
      &:nth-child(1) {
        grid-area: 1 / 1 / 3 / 3;
      }

      &:nth-child(2) {
        grid-area: 3 / 1 / 4 / 2;
      }

      &:nth-child(3) {
        grid-area: 3 / 2 / 4 / 3;
      }

      &:nth-child(4) {
        grid-area: 4 / 1 / 5 / 2;
      }

      &:nth-child(5) {
        grid-area: 4 / 2 / 5 / 3;
      }

      &:nth-child(6) {
        grid-area: 5 / 1 / 7 / 3;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        img {
          clip-path: polygon(
              43px 0,
              100% 0,
              100% calc(100% - 25px),
              calc(100% - 43px) 100%,
              0 100%,
              0 25px
          );
        }
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      clip-path: polygon(
          70px 0,
          100% 0,
          100% calc(100% - 40px),
          calc(100% - 70px) 100%,
          0 100%,
          0 40px
      );
    }
  }
}


#reviews {
  padding-top: 60px;
  padding-bottom: 60px;
}

.reviews-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  a {
    display: flex;
    column-gap: 10px;
    align-items: center;
    color: #FFFFFF;
    transition: .2s color;

    &:hover {
      color: #82d714;
    }
  }

  &__mobile {
    display: none;
  }
}

.review-card {
  position: relative;
  padding: 0 25px;

  &__rate {
    display: flex;
    column-gap: 5px;
    margin-bottom: 14px;
  }

  &__name {
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: -1%;
    margin-bottom: 14px;
  }

  &__text {
    white-space: pre-wrap;
    word-break: break-word;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1%;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.reviews-slider {
  &.swiper {
    overflow: visible;
  }

  .swiper-slide {
    height: auto;
    width: 330px;

    .review-card {
      height: 100%;
    }

    &:first-child .review-card:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
}

.reviews-slider-wrapper {
  display: flex;
}

.reviews-space {
  flex: 1;
  position: relative;
  z-index: 2;

  &:before {
    content: '';
    height: 1656px;
    width: clamp(700px, 200%, 200%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    filter: blur(47px);
  }

  &--left:before {
    right: 120px;
  }

  &--right:before {
    left: 120px;
  }
}

@media (max-width: 767px) {
  #reviews {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .reviews-slider {
    .swiper-slide {
      width: 200px;
    }
  }

  .review-card {
    padding: 0;

    &:before,
    &:after {
      display: none;
    }

    &__name {
      font-size: 20px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .reviews-heading {
    &__desktop {
      display: none;
    }

    &__mobile {
      display: block;
    }
  }
}

.register-section {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

.register-image {
  width: 50%;
  max-width: 587px;
  position: relative;
  display: flex;
  justify-content: flex-end;

  &__main {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__big {
    position: absolute;
    bottom: clamp(42px, 6.9vw, 83px);
    left: 0;
    transform: translateX(-50%);
    width: clamp(82px, 12.5vw, 150px);
    max-width: 164px; /* не больше исходного размера */
  }

  &__small {
    position: absolute;
    width: clamp(51px, 4.5vw, 54px);
    max-width: 110px;
    top: clamp(0px, 6.9vw, 84px);
    right: 67px;
  }
}


.register-wrapper {
  display: flex;
  column-gap: 25px;
  .section-heading {
    span:before {
      content: '&nbsp;'
    }
  }
}

.register-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  .section-heading {
    margin-bottom: 40px;
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.form-input {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 20px;

  input {
    display: block;
    height: 75px;
    border: 2px solid #3D3D3D;
    width: 100%;
    padding: 10px 15px;
  }

  span {
    color: #3D3D3D;
    position: absolute;
    display: block;
    padding: 4px 8px;
    background-color: #000000;
    left: 16px;
    top: -11px;

    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1%;
  }
}

.form-checkbox {
  display: flex;
  position: relative;
  column-gap: 10px;

  input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    max-width: 437px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1%;


    a {
      color: inherit;
      text-decoration: underline;
      transition: .2s color;
      &:hover {
        color: #dddddd;
      }
    }
  }

  &__check {
    display: block;
    position: relative;
    width: 26px;
    min-width: 26px;
    height: 26px;
    color: #FFFFFF;
    font-size: 16px;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: {
        property: visibility, opacity;
        duration: .2s;
      };
    }

    &:before {
      content: '';
      background: linear-gradient(127.14deg, #8BEFD3 16.74%, #377F7E 84.64%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:after {
      content: '';
      background: #000;
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
    }
  }
  input:checked + &__check {
    svg {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (max-width: 991px) {
  .register-wrapper {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 30px;
    .section-heading {
      margin-bottom: 30px;
      span:before {
          content: ' ';
      }
    }
  }
  .register-form {
    .form-input {
      margin-bottom: 30px;
      span {
        font-size: 16px;
      }
    }
    .form-checkbox__text {
      font-size: 16px;
    }
    .btn {
      margin-top: -5px;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 767px) {
  .register-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .register-image {
    width: 100%;
    max-width: 309px;
  }
}
